@media only screen and (min-device-width: 768px) {

    .landing-page-images,
    .landing-page-text {
        padding: 0 15%;
    }

    .landing-page-img {
        width: 70%;
        min-width: 300px;
        position: absolute;
        bottom: -100px;
    }

    .landing-page-text {
        height: 40%;
        justify-content: center;
    }

}