@media only screen and (min-device-width: 768px) {

    .nav-item {
        padding: 0 2rem;
        width: auto;
    }

    .navbar-nav {
        @include flex-center-all;
        height: auto;
        width: 100%;
    }

    .nav-link {
        margin: 6.5px 0;
    }

}